// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/react-toastify/dist/ReactToastify.css";

@mixin no-scroll-bar {
    overflow-y: scroll;
    overflow-x: scroll; /* Add the ability to scroll the y axis */
    /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide the scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    @include no-scroll-bar;
    min-width: 400px;
}

.rs-picker-select-menu .rs-picker-select-menu-items {
    @include no-scroll-bar;
}

.alert .rs-modal-content{
    padding: 0px;
}
